.round {
  border-radius: 20px;
  padding: 2% 5%;
}

.half-transparent {
  opacity: 0.5;
}

/* Home View */

.bg-makati {
  background: rgb(8,5,75);
  background: linear-gradient(120deg, rgba(8,5,75,1) 0%, rgba(76,76,205,1) 40%, rgba(8,5,75,1) 100%);
  /* background: url("https://i.ibb.co/M1jbK1K/World-1-and-0-blue.jpg") no-repeat center center fixed; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  height: 100vh;
  /* overflow: scroll; */
}

.bg-world-01 {
  background: url("https://i.ibb.co/M1jbK1K/World-1-and-0-blue.jpg") no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  height: 30vh;
  /* overflow: scroll; */
}

.bg-makati-skyline {
  background: url("https://i.ibb.co/LxsnpKT/Makati-night-sky-2022-1.png") no-repeat center center fixed;
  background-size: cover;
  height: 40vh;
}

.bg-manila-harbor {
  background: url("https://i.ibb.co/mNV1w10/manila-harbor-v202203090530.jpg") no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  height: 100vh;
  /* overflow: scroll; */
}

.main-pic {
  width: 30vh;
  border-radius: 50%;
}

.text-yellow {
  color: yellow;
}

.btn-row {
  width: 100%;
}

.home-btn {
  color: white;
}

.home-btn:hover, .home-btn:active {
  color: yellow;
}

.main-name {
  font-size: 4rem;
}

/* Nav Bar */

.at-top {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.add-space-top {
  height:12vh;
}

.bg-navy-gradient {
  background: rgb(8,5,75);
  background: linear-gradient(120deg, rgba(8,5,75,1) 0%, rgba(76,76,205,1) 40%, rgba(8,5,75,1) 100%);
}

.nav-btns {
  width: 50%
}

.nav-btn-bg-clear {
  background-color: transparent;
  color: white;
}

.nav-btn-bg-clear:hover, .nav-btn-bg-clear:active {
  background-color: yellow;
  color: navy;
}



/* About Me View */

.bg-lblue {
  background-color: dodgerblue;
}

.bg-gunmetalgrey {
  background-color: rgb(44,53,57);
  color: whitesmoke;
}

.topic-pic {
  border-radius: 50%;
}

.text-linen {
  color: white;
  text-shadow: 1px 1px darkslategrey;
}

.to-project-btn:hover, .to-project-btn:active {
  background-color: yellow;
  /* color: yellow; */
}

/* Project View */

.project-screenshot {
  width: 100%;
  height: auto;
}

/* Contact Info View */

.txt-rt {
  text-align: right;
}

.img-thumb {
  height: 50px;
}